<h> Student Detail Edit Page </h>
<body>
<style>
input
{
 width: 40%;
 border-style: ridge;

}
header{
}
body{
  margin-top: 200px;
  margin-left: 600px;
}
</style>



<form style="text-align: left; " action="" method="post">

    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        <br />{{ field }}
    </div>
    {% endfor %}
    <br/>
    <br />
    <input style="width: 20%;margin-left: 100px;" type="submit" value="Submit">

</form>

</body>